<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
<h1>Trending posts</h1>
<a class="col-lg-2 btn btn-warning text-center" style="margin-bottom: 20px" th:href="@{'/reddit/' + ${username} +'/post/add'}">Submit new post</a>
<table class="table table-hover table-striped">
    <tr>
        <th class="text-center">Score</th>
        <th class="text-center">Vote Up</th>
        <th class="text-center">Vote Down</th>
        <th class="text-center">Title</th>
        <th class="text-center">Date</th>
        <th class="text-center">User</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td class="col-lg-1 text-center" th:text="${post.score}"></td>
        <td class="col-lg-1 text-center"><a style="color: black; text-decoration: none" class="glyphicon glyphicon-plus" th:href="@{'/reddit/' + ${username} + '/post/' + ${post.id} + '/voteup'}"></a></td>
        <td class="col-lg-1 text-center"><a style="color: black; text-decoration: none" class="glyphicon glyphicon-minus" th:href="@{'/reddit/' + ${username} + '/post/' + ${post.id} + '/votedown'}"></a></td>
        <td class="col-lg-6"><a style="color: black; text-decoration: none" th:href="@{${post.url}}" th:text="${post.title}" ></a></td>
        <td class="col-lg-2 text-center" th:text="${post.dateOfCreation}"></td>
        <td class="col-lg-1" th:text="${post.user.username}"></td>
    </tr>
</table>
<a class="btn btn-warning text-center" type="button" th:if="${page - 1 > 0}" th:href="@{'/reddit/' + ${username} + '/post/' + ${page - 1}}">previous</a>
<a class="btn btn-warning text-center" type="button" th:if="${page <= total / 10}" th:href="@{'/reddit/' + ${username} + '/post/' + ${page + 1}}">next</a>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>

