* {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    font-family: "Century Gothic";
    font-size: 12px;
}

html {
    background-color: gainsboro;
}

body {
    background-color: white;
    margin: 150px auto;
    width: 300px;
    padding: 60px 50px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p {
    margin-top: 10px;
    text-align: right;
    font-size: 9px;
}

label {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 20px;
}

input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}

input[type=text], input[type=password] {
    border: 1px solid darkgray;
    box-shadow:inset 2px 2px 5px lightgray;
    background: white;
    width: 300px;
    height: 30px;
    padding-left: 10px;
}

input[type=password] {
    background: white url(eye.png) 275px no-repeat;
    background-size: 15px;
    margin-right: 10px;
}

input[type=submit] {
    width: 100px;
    height: 40px;
    border: hidden;
    border-radius: 20px;
    color: white;
    background-color: black;
}

input[type=submit]:hover {
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    background-color: white;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none !important;
    border-color: greenyellow;
}