* {
    padding: 0px;
    margin: 0px;
    font-family: "Century Gothic";
}

html {
    background-color: gray;
}

body {
    background-color: white;
    max-width: 900px;
    height: 89vh;
    margin: auto;
    padding: 40px 40px 30px;
}

table {
    border-style: hidden;
    table-layout: auto;
    width: 100%;
}

th {
    background-color: gray;
    color: white;
    font-size: 18px;
    height: 60px;
}

td {
    height: 40px;
    vertical-align: center;
    text-align: center;
}

