<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Useful utilities</title>
</head>
<body>
<ul>
    <li>
        <a href="/useful/colored">Colored Background</a>
    </li>
    <li>
        <a href="/useful/email?email=is@this.valid">Email validator</a>
    </li>
    <li>
        <a href="/useful/validemail">Email validator (with inputfield)</a>
    </li>
    <li>
        <a href="/useful/encode?text=example&number=0">Caesar encoder</a>
    </li>
    <li>
        <a href="/useful/decode?text=example&number=0">Caesar decoder</a>
    </li>
    <li>
        <a href="/useful/encoderdecoder">Caesar encoder/decoder (with inputfield)</a>
    </li>
</ul>
</body>
</html>