@model TodoApp.Models.Todo
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Getting Started: Serving Web Content</title>
        <link href="~/Styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Add new todo</h1>
        <form action="add" method="post">
            <input type="text" name="Title" required />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
