<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:unless="${first_load} ">
    <p th:unless="${exist}" th:text="|Your URL is aliased to ${new_alias.alias} and your secret code is ${new_alias.secretCode}|"></p>
    <p style="color: red" th:if="${exist}" th:text="Your alias is already in use!"></p>
</div>
<form action="/save-link" method="post" th:object="${new_alias}">
    <div>
        <label for="url">URL</label>
        <input type="url" id="url" th:field="*{url}" required>
    </div>
    <div>
        <label for="alias">Alias</label>
        <input type="text" id="alias" th:field="*{alias}" required>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>