<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div th:if="${exist} != null">
    <p th:style="${exist} ? 'color: red' : 'color: black'" th:text="${exist} ? 'Your alias is already in use.' : 'Your URL is aliased to ' + ${alias.urlAlias} + ' and your secret code is ' + ${alias.secretCode} + '.'"></p>
</div>
<form action="/save-link" method="post" th:object="${new_alias}">
    <div>
        <label for="url">URL</label>
        <input type="url" id="url" th:field="*{url}" required>
    </div>
    <div>
        <label for="urlAlias">Alias</label>
        <input type="text" id="urlAlias" th:field="*{urlAlias}" required>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>