<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css">
</head>
<body>
<div th:insert="header">
</div>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of stock</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td id="name" th:text="${item.getName()}"></td>
            <td id="description" th:text="${item.getDescription()}"></td>
            <td id="price" th:text="${item.getPrice()} + '.0 Kč'"></td>
            <td id="quantity" th:text="${item.getQuantity()}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>