<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit form</title>
</head>
<body>
<h1>Edit todo</h1>
<form action="#" th:action="@{|/todo/${id}/edit|}" th:method="put" th:object="${todo}">
    <div>
        <label for="title">Todo description</label>
        <input type="text" id="title" th:field="*{title}">
    </div>
    <div>
        <label>Urgent</label>
        <input type="checkbox" name="urgent" th:field="*{urgent}">
    </div>
    <div>
        <label>Done</label>
        <input type="checkbox" name="done" th:field="*{done}">
    </div>
    <div>
        <label for="date">Due date</label>
        <input type="text" id="date" th:field="*{dueDate}" placeholder="2019. június 12.">
    </div>
    <div>
        <label>Assignee</label>
        <select name="assigneeid">
            <option value="0" th:selected="${todo.assignee} == null ? 'selected' : ''">-</option>
            <div th:if="${todo.assignee} != null">
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}" th:selected="${todo.assignee.name == assignee.name}"></option>
            </div>
            <div th:if="${todo.assignee} == null">
                <option th:each="assignee : ${assignees}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
            </div>

        </select>
    </div>
    <div>
        <input type="submit" value="Submit">
        <a th:href="'/todo/'">Cancel</a>
    </div>
</form>
</body>
</html>