<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <!--<link rel="stylesheet" type="text/css" href="/todostyle.css">-->
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
<h1 class="font-weight-bold text-center text-uppercase"><a style="color: black; text-decoration: none" href="/todo/">Todos for today</a></h1>
<div class="col-lg-12" style="display: inline-block; margin-bottom: 30px">
    <a class="col-lg-2 btn btn-warning text-center" style="background-color: gray; border-color: gray" href="/assignee/">List of assignees</a>
    <div class="col-lg-3"></div>
    <a class="col-lg-2 btn btn-warning text-center" href="/todo/add">Add new todo</a>
    <div class="col-lg-5"></div>
</div>
<div class="col-lg-12" style="margin-bottom: 30px">
    <p class="text-uppercase" style="font-weight: bold">Search for:</p>
    <form id="searchbar" method="post" action="/todo/search">
        <input type="text" name="search" placeholder="...type keyword">
        <button id="search" type="submit">search</button>
    </form>
</div>
<table class="table table-hover table-striped col-lg-12">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">ACTION</th>
        <th class="text-center">ASSIGNEE</th>
        <th class="text-center">URGENT</th>
        <th class="text-center">DONE</th>
        <th class="text-center">DATE OF CREATION</th>
        <th class="text-center">DUE DATE</th>
        <th class="text-center">DELETE</th>
        <th class="text-center">EDIT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td class="col-lg-1 text-center" th:text="${todo.id}"></td>
        <td class="col-lg-4 alert alert-warning text-primary"><a style="color: black; text-decoration: none" th:href="@{'/todo/' + ${todo.id} + '/details'}" th:text="${todo.title}"></a></td>
        <td class="col-lg-1" th:if="${todo.assignee != null}"><a style="color: black; text-decoration: none" th:href="@{'/assignee/' +  ${todo.assignee.id} + '/details'}" th:text="${todo.assignee.name}"></a></td>
        <td class="col-lg-1" th:if="${todo.assignee == null}"> </td>
        <td class="col-lg-1 text-center" th:if="${todo.urgent}"><span class="glyphicon glyphicon-ok"></span></td>
        <td class="col-lg-1 text-center" th:unless="${todo.urgent}"><span class="glyphicon glyphicon-remove"></span></td>
        <td class="col-lg-1 text-center" th:if="${todo.done}"><span class="glyphicon glyphicon-ok"></span></td>
        <td class="col-lg-1 text-center" th:unless="${todo.done}"><span class="glyphicon glyphicon-remove"></span></td>
        <td class="col-lg-1" style="font-size: 13px" th:text="${todo.dateOfCreation}"></td>
        <td class="col-lg-1" style="font-size: 13px" th:text="${todo.dueDate}"></td>
        <td class="col-lg-1 text-center">
            <form action="#" th:action="@{|/todo/${todo.id}/delete|}" th:method="delete">
                <input class="btn btn-danger" type="submit" value="delete">
            </form>
        </td>
        <td class="col-lg-1 text-center" ><a class="btn btn-info" th:href="@{'/todo/' + ${todo.id} + '/edit'}">edit</a> </td>
    </tr>
</table>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>