@model DotNetStart.Models.Greeting
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
    <p>
        Hello, @Model.Content! This site was loaded @Model.Id times since last server start.
    </p>
</body>
</html>
